@font-face {
  font-family: myFirstFont;
  src: url(./Assets/Grandstander-clean.ttf);
}

.footer {
  position: relative;
  /* left: 0; */
  color: white;
  bottom: 0;
  width: 100%;
}

.footer__initial > button:hover {
  background: #ff3a58 0% 0% no-repeat padding-box;
}
.footer__initial > button {
  color: white;
  text-transform: initial !important;
  /* border: 1px solid #ff3a58; */
  background: #ff3a58 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 0px #0000001a;
  font-family: myFirstFont;

  text-align: center;
  width: 160px;
  height: 45px;
  border: 1px solid #ff3a58;
  border-radius: 5px;
}
.footer__initial {
  height: 168px;
  /* text-align: center; */
  background: #635d5d 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: #5a5555;
}

.footer__options {
  background-color: #635d5d;
  height: 307px;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  align-items: center;
}

.footer__optionsFirst {
  width: 311px;
  height: 150px;
}
.footer__optionsFirst > p {
  font-size: 14px;
  opacity: 0.6;
  font-family: "Montserrat";
  font-weight: normal;
}
.footer__optionsFirst > h1 {
  font-size: 24px;
  font-family: "Balsamiq Sans", cursive;
}

.footer__optionInfo > .MuiSvgIcon-root {
  /* width: 20px !important; */
  /* height: 27px !important; */
}
.footer__optionInfo > p {
  flex: 1;
  margin-left: 10px;
}
.footer__optionInfo {
  display: flex;
  margin: 10px 0 10px;
  padding: 2px;
  justify-content: space-between;
}

.footer__mainLinks > p,
.footer__quickLinks > p,
.footer__mainLinks > h5 {
  margin: 10px;
  font-size: 14px;
}
.footer__mainLinks,
.footer__quickLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  align-items: flex-start;
}

@media (max-width: 770px) {
  .footer__copyright {
    font-size: 12px;
  }
  .footer__optionInfo,
  .footer__social,
  .footer__mainLinks > h5 {
    display: none;
  }
  .footer__options {
    flex-direction: column;
    display: block;
    
    padding: 0;
  }
  .footer__optionsFirst{
    width: fit-content;
    height: fit-content;
    padding-left: 5px;
  }
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: white;
  color: #635d5d;
}
.footer__socialMedia {
  display: flex;
  justify-content: space-between;
  width: 160px;
}
/* margin: 5px; */

.footer__downloadLinks > img {
  object-fit: contain;
  /* width: 152px;
  height: 45px; */
}
.footer__downloadLinks {
  display: flex;
}
.apple {
  object-fit: contain;
  width: 183px;
  height: 110px;
}

.google {
  object-fit: contain;
  width: 130px;
  height: 110px;
}
